{
  "presets": ["@babel/preset-typescript", "@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    "babel-plugin-styled-components",
    ["@babel/transform-runtime"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src/components/atoms": "./src/components/atoms",
          "src/components/molecules": "./src/components/molecules"
        }
      }
    ]
  ]
}
